.order-summary__ctn {
    background: #fbfbfb;
}

.shape-xs {
    width: 10px;
    height: 10px;
}
.pc-line {
    line-height: 1.3;
}

.order-desc {
    font-size: 13px;
    line-height: 0.1;
}

.order-detail__left {
    display: flex;
    flex-direction: row-reverse;
}

button span{
    font-size: 12px;
}
.p-dialog .p-dialog-header .p-dialog-title{
    font-size: 16px;
    color: #011b33;
}
.p-listbox .p-listbox-list{
    padding: 0px;
}