/* Navbar header */
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.menu-toggle label {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.header-icons span {
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}

.menu-toggle label:hover {
    background: #efefef;
}

.main-content {
    /* width of sidebar */
    margin-left: 240px;
}